<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
    <link href="./static/assets/about.ico" rel="icon">

    <title>About</title>

    <link href="./static/main.3da94fde.css" rel="stylesheet">
</head>

<body style="background-image: url('./static/assets/images/home-background.jpg')">
    <font color="white" style="font-family:tempus sans itc">
        <header>
            <nav class="navbar navbar-fixed-top navbar-default" style="background-image: url('./static/assets/images/home-background.jpg')">
                <div class="container">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle Navigator</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <nav class="navbar-fullscreen" id="navbar-middle">
                        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <ul class="navbar-fullscreen-links">
                            <li><a style="background-color:transparent" href="./index.html" title="">Home</a></li>
                            <li><a style="background-color:transparent" href="./project.html" title="">Projects</a></li>
                            <li><a style="background-color:transparent" href="./about.html" title="">About me</a></li>
                            <li><a style="background-color:transparent" href="./contact.html" title="">Contact</a></li>
                        </ul>

                        <div class="footer-container">

                            <p><small style="background-color:transparent;color:white">© Andrea Mancini | Website created with <a style="background-color:transparent;color:white" href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a style="background-color:transparent;color:white" href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></small></p>
                            <p class="footer-share-icons">
                                <a href="https://www.facebook.com/mancio88ps" class="fa-icon" title="" style="color:white;background-color:#3b5998">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="https://www.twitter.com" class="fa-icon" title="" style="color:white;background-color:deepskyblue">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="https://www.instagram.com/andryu_88/" class="fa-icon" title="" style="color:white;background-color:lightcoral">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                                <a href="https://www.behance.com" class="fa-icon" title="" style="background-color:#1769ff;color: white;">
                                    <i class="fa fa-behance" aria-hidden="true"></i>
                                </a>
                                <a href="https://www.vimeo.com" class="fa-icon" title="" style="background-color:#1ab7ea;color: white;">
                                    <i class="fa fa-vimeo" aria-hidden="true"></i>
                                </a>
                            </p>

                        </div>


                    </nav>

                </div>
            </nav>
        </header>
        <div class="section-container content-container">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-md-6">
                            <img src="./static/assets/images/img-profile.jpg" class="img-responsive" alt="">
                        </div>
                        <div>
                            <h1 style="color:white;font-family:tempus sans itc" class="h2">Andrea Mancini</h1>
                            <p>
                                <h4 style="color:white;font-family:tempus sans itc">Hi Everyone! I'm Andrea Mancini, an italian guy living in Barcelona, one of the most beautiful city in Europe! I moved Here on the October 2nd, 2019.I am a languages lover and I really like learning them. My first language
                                    I learned was Spanish, when I was 16 y.o. beacuse I've always been attracted by the Latin American and Spanish culture so I decided that was the first language I had to learn. The second was English, because of the
                                    academic need I learned it as well. I also learned a bit(and I'm really saying a little bit) of Hungarian Living, studying and working in Budapest for almost a year and nowadays, living in Barcelona I'm also learning
                                    Catalan. Regarding my job career, it started in 2006 as worker at numerical control machines in a glass factory drawing programs with Cad for glass cutting until 2009 and during this time I was studying at the high
                                    school at the same time. I got a degree in Surveying in 2009 and I worked as quantity surveyor until 2012 being in charge for field and building measurements. In 2012 I started working again as a worker at numerical
                                    control machines and in a serigraphy department in a glass factory always drawing programs with Cad for glass cutting and being in charge for quality control. On 2016 i left the job and I started studying again at the
                                    University beacuse I had realized that I wanted to study Computer Science and become a software developer. Following my dream, in september 2019 I graduated as Applied Computer Science at University Of Urbino in Italy
                                    and I've been studying at Budapest University of Technology and Economics (BME) as Erasmus Student during the academic year 2018/2019. We have studied a lot of programming languages during the University but actually
                                    only one got my attention and I decided to study it deeper, Python. During my year studying in Budapest I've been travelling a lot, I visited a lot of beautiful cities around Hungary and other countries. I've been in
                                    Czech Republic (Prague) as you can see from my picture in front of John Lennon Wall, Austria (Viena), Portugal (Lisbon), Spain (Madrid, Toledo), Belgium (Bruxelles, Charleroi) since my Mom was born there and I have
                                    family there too; and to complete the circle I got to Barcelona. When I've first arrived here I was looking for a job and on November 20th 2019 I started working as Application Support Engineer in an International American
                                    software company which has headquarters in San Diego, California. I got this job and at the beginning of December 2020 I landed to San Diego for a training which was offered by the company. It was a dream being there,
                                    I had never cross the ocean before and there I was, in California! I couldn't miss anything there so in my free time, when I wasn't working, I took advantage of being there, traveling and discovering as much as I could
                                    in that little time I had. I've first been to Santa Monica then La Jolla, Holliwood, Beverly hills ans finally I couldn't miss a Lakers' match! so I went to Los Angeles as well. It was the best experience of my life
                                    and which I'll surely have good memories of.
                                </h4>
                            </p>
                        </div>
                        <a href=".static/assets/images/AndreaMancini-LastenglishCV.pdf" download></a>
                    </div>
                </div>
            </div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function(event) {
                navbarToggleSidebar();
                closeMenuBeforeGoingToPage();
                navActivePage();
            });
        </script>
        <script type="text/javascript" src="./static/main.4c6e144e.js"></script>
    </font>
</body>

</html>