<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
    <link href="./static/assets/home.ico" rel="icon">

    <title>Home</title>
    <link href="./static/main.3da94fde.css" rel="stylesheet">
</head>

<body style="background-image: url('./static/assets/images/keyboard.jpg')">
    <font color="white" style="font-family:tempus sans itc">
        <header>
            <nav style="background-image: url('./static/assets/images/keyboard.jpg')" class="navbar navbar-fixed-top navbar-default">
                <div class="container">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <nav class="navbar-fullscreen" id="navbar-middle" style="background-image:url('./static/assets/images/smoke2.jpg');background-size:cover;">
                        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <ul class="navbar-fullscreen-links">
                            <li><a href="./index.html" title="" style="background-color:transparent">Home</a></li>
                            <li><a href="./project.html" title="" style="background-color:transparent">Projects</a></li>
                            <li><a href="./about.html" title="" style="background-color:transparent">About me</a></li>
                            <li><a href="./contact.html" title="" style="background-color:transparent">Contact</a></li>
                        </ul>
                        <div class="footer-container">
                            <p><small style="background-color:transparent;color:white">© Andrea Mancini | Website created with <a style="background-color:transparent;color:white" href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a style="background-color:transparent;color:white" href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></small></p>
                            <p class="footer-share-icons">
                                <a href="https://www.facebook.com/mancio88ps" class="fa-icon" title="" style="color:white;background-color:#3b5998">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="https://www.twitter.com" class="fa-icon" title="" style="color:white;background-color:deepskyblue">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="https://www.instagram.com/andryu_88/" class="fa-icon" title="" style="color:white;background-color:lightcoral">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                                <a href="https://www.behance.com" class="fa-icon" title="" style="background-color:#1769ff;color: white;">
                                    <i class="fa fa-behance" aria-hidden="true"></i>
                                </a>
                                <a href="https://www.vimeo.com" class="fa-icon" title="" style="background-color:#1ab7ea;color: white;">
                                    <i class="fa fa-vimeo" aria-hidden="true"></i>
                                </a>
                            </p>
                        </div>
                    </nav>
                </div>
            </nav>
        </header>
        <footer class="footer-container text-center">
            <div class="white-text-container" style="margin-top:10%">
                <div class="container">
                    <div class="hero-full-wrapper">
                        <div class="text-content">
                            <h2 style="color:white;font-family:tempus sans itc;font-size:50px">Welcome!<br>
                                <span>I'm Andrea Mancini,<br></span>
                                <span>candidate junior python developer, big adventurer and traveller! <br></span>
                                <h4 style="font-family:tempus sans itc;color:white">"The only way to do great work is to love what you do." - Steve Jobs </h4>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script>
            document.addEventListener("DOMContentLoaded", function(event) {
                navbarToggleSidebar();
                closeMenuBeforeGoingToPage();
                navActivePage();
            });
        </script>
        <script type="text/javascript" src="./static/main.4c6e144e.js"></script>
    </font>
</body>

</html>