<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
    <link href="./static/assets/project.ico" rel="icon">

    <title>Project</title>

    <link href="./static/main.3da94fde.css" rel="stylesheet">
</head>

<body>
    <font color="black" style="font-family:tempus sans itc">
        <header>
            <nav class="navbar navbar-fixed-top navbar-default">
                <div class="container">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <nav class="navbar-fullscreen" id="navbar-middle" style="background-image:url('./static/assets/images/smoke2.jpg');background-size:cover;">
                        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <ul class="navbar-fullscreen-links">
                            <li><a style="background-color:transparent" href="./index.html" title="">Home</a></li>
                            <li><a style="background-color:transparent" href="./project.html" title="">Projects</a></li>
                            <li><a style="background-color:transparent" href="./about.html" title="">About me</a></li>
                            <li><a style="background-color:transparent" href="./contact.html" title="">Contact</a></li>
                        </ul>

                        <div class="footer-container">

                            <p><small style="background-color:transparent;color:white">© Andrea Mancini | Website created with <a style="background-color:transparent;color:white" href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a style="background-color:transparent;color:white" href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></small></p>
                            <p class="footer-share-icons">
                                <a href="https://www.facebook.com/mancio88ps" class="fa-icon" title="" style="color:white;background-color:#3b5998">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="https://www.twitter.com" class="fa-icon" title="" style="color:white;background-color:deepskyblue">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="https://www.instagram.com/andryu_88/" class="fa-icon" title="" style="color:white;background-color:lightcoral">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                                <a href="https://www.behance.com" class="fa-icon" title="" style="background-color:#1769ff;color: white;">
                                    <i class="fa fa-behance" aria-hidden="true"></i>
                                </a>
                                <a href="https://www.vimeo.com" class="fa-icon" title="" style="background-color:#1ab7ea;color: white;">
                                    <i class="fa fa-vimeo" aria-hidden="true"></i>
                                </a>
                            </p>

                        </div>


                    </nav>

                </div>
            </nav>
        </header>


        <div class="section-container">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="text-center section-container-spacer">
                            <h2 style="font-family:tempus sans itc" class="with-project-number"><span class="project-number">Project 03</span>Covid-19 data analysis</h2>
                        </div>
                        <div class="row section-container-spacer">
                            <div class="col-md-4">
                                <div class="section-container-spacer">
                                    <h3 style="font-family:tempus sans itc">Software Project</h3>
                                    <p>Barcelona July, 2020</p>
                                </div>

                                <img src="./static/assets/images/barcelona.jpg" alt="" height="200" width="350">
                                <p>Barcelona, Catalunya, Spain </p>
                            </div>
                            <div>
                                <h3 style="font-family:tempus sans itc">Covid-19 data analysis and Vizualization</h3>
                                <p>The COVID-19 pandemic in Spain is part of the pandemic of coronavirus disease 2019 (COVID-19) caused by severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2). The virus was first confirmed to have spread to Spain
                                    on 31 January 2020, when a German tourist tested positive for SARS-CoV-2 in La Gomera, Canary Islands. Post-hoc genetic analysis has shown that at least 15 strains of the virus had been imported, and community transmission
                                    began by mid-February. By 13 March, cases had been confirmed in all 50 provinces of the country. A lockdown was imposed on 14 March 2020. On 29 March, it was announced that, beginning the following day, all non-essential
                                    workers were ordered to remain at home for the next 14 days. By late March, the Community of Madrid has recorded the most cases and deaths in the country. Medical professionals and those who live in retirement homes
                                    have experienced especially high infection rates. On 25 March, the official death toll in Spain surpassed that of mainland China. On 2 April, 950 people died of the virus in a 24-hour period—at the time, the most by
                                    any country in a single day. On 17 May, the daily death toll announced by the Spanish government fell below 100 for the first time, and 1 June was the first day without deaths by coronavirus. The state of alarm ended
                                    on 21 June. However, the number of cases increased again in July in a number of cities including Barcelona, Zaragoza and Madrid, which led to reimposition of some restrictions but no national lockdown. Studies have
                                    suggested that the number of infections and deaths may have been underestimated due to lack of testing and reporting, and many people with only mild or no symptoms were not tested. Reports in May suggested that, based
                                    on a sample of more than 63,000 people, the number of infections may be ten times higher than the number of confirmed cases by that date, and Madrid and several provinces of Castilla–La Mancha and Castile and León were
                                    the most affected areas with a percentage of infection greater than 10%. There may also be as many as 15,815 more deaths according to the Spanish Ministry of Health monitoring system on daily excess mortality (Sistema
                                    de Monitorización de la Mortalidad Diaria - MoMo). On 6 July 2020, the results of a Government of Spain nationwide seroprevalence study showed that about two million people, or 5.2% of the population, could have been
                                    infected during the pandemic. Spain is the second country in Europe (behind Russia) to record half a million cases, with 682,267 infections and 30,905 deaths reported as of 23 September, a third of which occurred in
                                    Madrid.
                            </div>
                            <h4 style="font-family:tempus sans itc">During an online course I've been attending, I decided to get data from internet and vizualize the cases, recoveries and deaths for Covid-19. It's a Jupiter Notebook project, written in Python using various vizualization libraries.</h4>
                            <div class="col-md-5">
                                <img src="./static/assets/images/covid.jpg" alt="" height="300" width="450" aligned="left">
                            </div>
                            <div class="col-md-5">
                                <p> Analysis and Visualization of Covid-19 Data This Project was done during an Online Data Visualization course on Udemy(https://www.udemy.com/course/complete-data-visualization-in-python/?referralCode=C5022514A150E173DF32).
                                    Preprocessed Used Dataset Link: https://github.com/laxmimerit/Covid-19-Preprocessed-Dataset by Laxmi Kant Tiwari(https://github.com/laxmimerit/). It is sourced from this upstream repository maintained by the amazing
                                    team at Johns Hopkins University Center for Systems Science and Engineering (CSSE) which have been doing a great public service from an early point by collating data from around the world. Sources The upstream dataset
                                    currently lists the following upstream datasources:
                                </p>
                            </div>
                        </div>
                        <ul style="font-family:tempus sans itc" class="list">
                            <li> World Health Organization (WHO): https://www.who.int/ </li>
                            <li> DXY.cn. Pneumonia. 2020. http://3g.dxy.cn/newh5/view/pneumonia </li>
                            <li> News: https://bnonews.com/index.php/2020/02/the-latest-coronavirus-cases/ </li>
                            <li> National Health Commission of the People’s Republic of China (NHC): http://www.nhc.gov.cn/xcs/yqtb/list_gzbd.shtml</li>
                            <li> China CDC (CCDC): http://weekly.chinacdc.cn/news/TrackingtheEpidemic.htm</li>
                            <li> Hong Kong Department of Health: https://www.chp.gov.hk/en/features/102465.html</li>
                            <li> Macau Government: https://www.ssm.gov.mo/portal/</li>
                            <li> Taiwan CDC: https://sites.google.com/cdc.gov.tw/2019ncov/taiwan?authuser=0</li>
                            <li>US CDC: https://www.cdc.gov/coronavirus/2019-ncov/index.html</li>
                            <li> Government of Canada: https://www.canada.ca/en/public-health/services/diseases/coronavirus.html</li>
                            <li> Australia Government Department of Health: https://www.health.gov.au/news/coronavirus-update-at-a-glance</li>
                            <li> European Centre for Disease Prevention and Control (ECDC): https://www.ecdc.europa.eu/en/geographical-distribution-2019-ncov-cases</li>
                            <li> Ministry of Health Singapore (MOH): https://www.moh.gov.sg/covid-19</li>
                            <li> Italy Ministry of Health: http://www.salute.gov.it/nuovocoronavirus</li>
                        </ul>
                        <a href="https://github.com/Andrea101288/Covid-19-Analysis">
                            <h4 style="font-family:tempus sans itc;color:black;text-align:left;">Project source code here: <img style="background-color:transparent" src="./static/assets/images/github.png" alt="" /></h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="navbar navbar-default navbar-fixed-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <ul class="navbar-nav nav">
                                <li>
                                    <a style="background-color:transparent" href="./project2.html" title="" class="project-nav left"><span class="project-number">02</span>Previous</a>
                                </li>
                            </ul>
                            <p style="font-family:tempus sans itc" class="h5 navbar-text">Piattasisma<i class="fa fa-chevron-down arrow-down" aria-hidden="true"></i></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function(event) {
                navbarToggleSidebar();
                closeMenuBeforeGoingToPage();
                navActivePage();
            });
        </script>
        <script type="text/javascript" src="./static/main.4c6e144e.js"></script>
    </font>
</body>

</html>

</html>