<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
    <link href="./static/assets/project.ico" rel="icon">

    <title>Project</title>

    <link href="./static/main.3da94fde.css" rel="stylesheet">
</head>

<body>
    <font color="black" style="font-family:tempus sans itc">
        <header>
            <nav class="navbar navbar-fixed-top navbar-default">
                <div class="container">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <nav class="navbar-fullscreen" id="navbar-middle" style="background-image:url('./static/assets/images/smoke2.jpg');background-size:cover;">
                        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <ul class="navbar-fullscreen-links">
                            <li><a style="background-color:transparent" href="./index.html" title="">Home</a></li>
                            <li><a style="background-color:transparent" href="./project.html" title="">Projects</a></li>
                            <li><a style="background-color:transparent" href="./about.html" title="">About me</a></li>
                            <li><a style="background-color:transparent" href="./contact.html" title="">Contact</a></li>
                        </ul>

                        <div class="footer-container">

                            <p><small style="background-color:transparent;color:white">© Andrea Mancini | Website created with <a style="background-color:transparent;color:white" href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a style="background-color:transparent;color:white" href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></small></p>
                            <p class="footer-share-icons">
                                <a href="https://www.facebook.com/mancio88ps" class="fa-icon" title="" style="color:white;background-color:#3b5998">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="https://www.twitter.com" class="fa-icon" title="" style="color:white;background-color:deepskyblue">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="https://www.instagram.com/andryu_88/" class="fa-icon" title="" style="color:white;background-color:lightcoral">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                                <a href="https://www.behance.com" class="fa-icon" title="" style="background-color:#1769ff;color: white;">
                                    <i class="fa fa-behance" aria-hidden="true"></i>
                                </a>
                                <a href="https://www.vimeo.com" class="fa-icon" title="" style="background-color:#1ab7ea;color: white;">
                                    <i class="fa fa-vimeo" aria-hidden="true"></i>
                                </a>
                            </p>

                        </div>


                    </nav>

                </div>
            </nav>
        </header>


        <div class="section-container">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="text-center section-container-spacer">
                            <h2 style="font-family:tempus sans itc" class="with-project-number"><span class="project-number">Project 05</span>Snake</h2>
                        </div>
                        <div class="row section-container-spacer">
                            <div class="col-md-4">
                                <div class="section-container-spacer">
                                    <h3 style="font-family:tempus sans itc">Software Project</h3>
                                    <p>Barcelona July, 2020</p>
                                </div>

                                <img src="./static/assets/images/barcelona.jpg" alt="" height="200" width="350">
                                <p>Barcelona, Catalunya, Spain </p>
                            </div>
                            <div>
                                <h3 style="font-family:tempus sans itc">Renewed Snake</h3>
                                <p>Snake is the common name for a video game concept where the player maneuvers a line which grows in length, with the line itself being a primary obstacle. The concept originated in the 1976 arcade game Blockade, and the
                                    ease of implementing Snake has led to hundreds of versions (some of which have the word snake or worm in the title) for many platforms. After a variant was preloaded on Nokia mobile phones in 1998, there was a resurgence
                                    of interest in the snake concept as it found a larger audience. There are over 300 Snake-like games for iOS alone. The player controls a dot, square, or object on a bordered plane. As it moves forward, it leaves a trail
                                    behind, resembling a moving snake. In some games, the end of the trail is in a fixed position, so the snake continually gets longer as it moves. In another common scheme, the snake has a specific length, so there is
                                    a moving tail a fixed number of units away from the head. The player loses when the snake runs into the screen border, a trail or other obstacle, or itself.
                            </div>
                            <h4 style="font-family:tempus sans itc">I used the Python "Turtle" library for creating games. It was a try because I was curious of how it worked and I decided to re-create this amazing old style game to get confortable with the library.</h4>
                            <div class="col-md-8">
                                <img src="./static/assets/images/nokia.jpg" alt="" height="200" width="150" aligned="left">
                                <p>This is the old version of Snake, it was a old nokia 3310 game.</p>
                            </div>
                            <div>
                                <img src="./static/assets/images/mysnake.png" alt="" height="200" width="250" aligned="left">
                                <p>This is the revisited designed I created.</p>
                            </div>
                        </div>
                        <a href="https://github.com/Andrea101288/SnakePy">
                            <h4 style="font-family:tempus sans itc;color:black;text-align:left;">Project source code here: <img style="background-color:transparent" src="./static/assets/images/github.png" alt="" /></h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="navbar navbar-default navbar-fixed-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <ul class="navbar-nav nav">
                                <li>
                                    <a style="background-color:transparent" href="./project4.html" title="" class="project-nav left"><span class="project-number">04</span>Previous</a>
                                </li>
                            </ul>
                            <p style="font-family:tempus sans itc" class="h5 navbar-text">Piattasisma<i class="fa fa-chevron-down arrow-down" aria-hidden="true"></i></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function(event) {
                navbarToggleSidebar();
                closeMenuBeforeGoingToPage();
                navActivePage();
            });
        </script>
        <script type="text/javascript" src="./static/main.4c6e144e.js"></script>
    </font>
</body>

</html>

</html>