<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
    <link href="./static/assets/project.ico" rel="icon">

    <title>Project</title>

    <link href="./static/main.3da94fde.css" rel="stylesheet">
</head>

<body>
    <font color="black" style="font-family:tempus sans itc">
        <header>
            <nav class="navbar navbar-fixed-top navbar-default">
                <div class="container">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <nav class="navbar-fullscreen" id="navbar-middle" style="background-image:url('./static/assets/images/smoke2.jpg');background-size:cover;">
                        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <ul class="navbar-fullscreen-links">
                            <li><a style="background-color:transparent" href="./index.html" title="">Home</a></li>
                            <li><a style="background-color:transparent" href="./project.html" title="">Projects</a></li>
                            <li><a style="background-color:transparent" href="./about.html" title="">About me</a></li>
                            <li><a style="background-color:transparent" href="./contact.html" title="">Contact</a></li>
                        </ul>

                        <div class="footer-container">

                            <p><small style="background-color:transparent;color:white">© Andrea Mancini | Website created with <a style="background-color:transparent;color:white" href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a style="background-color:transparent;color:white" href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></small></p>
                            <p class="footer-share-icons">
                                <a href="https://www.facebook.com/mancio88ps" class="fa-icon" title="" style="color:white;background-color:#3b5998">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="https://www.twitter.com" class="fa-icon" title="" style="color:white;background-color:deepskyblue">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="https://www.instagram.com/andryu_88/" class="fa-icon" title="" style="color:white;background-color:lightcoral">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                                <a href="https://www.behance.com" class="fa-icon" title="" style="background-color:#1769ff;color: white;">
                                    <i class="fa fa-behance" aria-hidden="true"></i>
                                </a>
                                <a href="https://www.vimeo.com" class="fa-icon" title="" style="background-color:#1ab7ea;color: white;">
                                    <i class="fa fa-vimeo" aria-hidden="true"></i>
                                </a>
                            </p>

                        </div>


                    </nav>

                </div>
            </nav>
        </header>


        <div class="section-container">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="text-center section-container-spacer">
                            <h2 style="font-family:tempus sans itc" class="with-project-number"><span class="project-number">Project 02</span>Piattasisma</h2>
                        </div>
                        <div class="row section-container-spacer">
                            <div class="col-md-4">
                                <div class="section-container-spacer">
                                    <h3 style="font-family:tempus sans itc">Software Project</h3>
                                    <p>Urbino May, 2018</p>
                                </div>

                                <h4 style="font-family:tempus sans itc">Credits & Crew</h4>

                                <ul style="font-family:tempus sans itc" class="list-unstyled">
                                    <li>Dawid Weglarz</li>
                                </ul>
                                <img src="./static/assets/images/urbino.jpg" alt="" height="200" width="350">
                                <p>Urbino UNiversity, Applied Computer Science </p>
                            </div>
                            <div>
                                <h3 style="font-family:tempus sans itc">Earthquake info manager</h3>
                                <p>In 2018, Italy was affected by 2 big heartquakes which damaged some towns and Cities. During my 2nd year of university, my mate and I decided to build a system to track earthquakes and damages. The PiattaSisma project stands
                                    as primary objectives by collecting sismic data from different sources, return them in a standard format, catalog the damage caused by seismic events and give access to these data for any studies / interventions. The
                                    project is composed of 3 main modules:
                                    <ul style="font-family:tempus sans itc" class="list-unstyled">
                                        <li>Realization of APIs (GET and POST) in Python (Django Framework)</li>
                                        <li>Web platform Implementation (HTML, PHP, JS, CSS)</li>
                                        <li>2 BotTelegrams implementation (PHP and Python)</li>
                                    </ul> Other secondary objectives were exploiting more languages ​​and possible technologies, sharing knowledge in the Team and mostly HAVE FUN! The scenario we imagined is the following, but it is important to note that this
                                    project can still be expanded and enriched with new features.Data is collected from different sites through [parsers] (https://it.wikipedia.org/wiki/Parsing) which extract data from the site and convert it into a standard
                                    format ([GeoJSON] (http: // geojson .org)). The sites for which we have implemented parsers are all Opendata sites in [QuakeML] format (https://en.wikipedia.org/wiki/QuakeML) but despite being a standard they still
                                    have small differences that do not allow the correct interpretation of the data . This is why we thought of making module parsers that can be easily integrated into the code without affecting the rest. For questions
                                    of data size requested through API we opted to insert a time frame of 30 days by default as we have noticed that increasing the number of days very much the requests involve important times and above all some sites
                                    have a maximum data limit to be transmitted.
                                </p>
                            </div>
                            <h4 style="font-family:tempus sans itc">This was the scenario we have been implementing, a server which receives requests through APIs from a client web and two Telegram clients. Looking for the requested data in different opendata websites and returning them converted
                                in GeoJSON format</h4>
                            <div class="col-md-5">
                                <img src="./static/assets/images/scenario-piattasisma.png" alt="" height="350" width="400">
                            </div>
                            <div class="row">
                                <p>
                                    <p>
                                        <h4 style="font-family:tempus sans itc">The Web platform </h4>Components: </p>
                                    <ul style="font-family:tempus sans itc" class="list">
                                        <li> Index: Welcome page on the platform where you log in and / or register </li>
                                        <li>Register: Acquires the data requested by the user which will be verified by the ** RegisterCheck ** page</li>
                                        <li>Login: Simple page that allows the login of registered users through ** LoginCheck ** that verifies the correctness of the credentials entered </li>
                                        <li>homePage: Main page of the platform where a map appears that will be populated by the various events returned by the API. A series of filters allows more or less precise searches based on the position and/ or time
                                        </li>
                                        <li>Damages: Damage gallery, a picture gallery where are listed all the images sent via Telegram</li>
                                        <li>AddDamage: where you can upload new damage that will be validated via DamageCheck </li>
                                        <li>AboutUs: You can find a small description of the project and the reason that led us to realize it</li>
                                        <li>ContactUs: Collects the contacts of the creators of the platform</li>
                                    </ul>
                                </p>
                            </div>
                            <div class="col-md-8">
                                <p>
                                    <h4 style="font-family:tempus sans itc">Piattasisma bot</h4>
                                    PiattaSismaBot is the bot designed for users of the platform too ~~ lazy ~~ in a hurry to use the Web Client. The bot allows you to report a damage in a few simple steps directly from Telegram using the API of PiattaSisma. This bot was made in PHP and
                                    interfaces to the Telegram API in a "native" way.Functions:
                                    <ul style="font-family:tempus sans itc" class="list">
                                        <li> /earthquakes : allows you to receive the position and a description of earthquakes that occurred within a 10km radius from a location specified by the user</li>
                                        <li> /damage : allows you to report damage caused by an earthquake with a photo, location and a brief description</li>
                                        <li>/info : returns generic information about the Bot</li>
                                        <li>/help : returns details about the commands and how to use them </li>
                                    </ul>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <img src="./static/assets/images/mobile.png" alt="" height="500" width="250">
                            </div>
                            <div class="col-md-4">
                                <img src="./static/assets/images/mobile2.png" alt="" height="500" width="250">
                            </div>
                            <div class="col-md-8">
                                <p>
                                    <h4 style="font-family:tempus sans itc">Techsisma bot</h4>
                                    TechSismaBot on the other hand is designed to be able to see the damage that has occurred in a certain area within a 10km radius. All the user has to do is send a command and send the desired location to see all the data. This bot was created in Python
                                    and interfaces with the Telegram API through the library [Telepot] (https://github.com/nickoala/telepot). This bot has one function:
                                    <ul style="font-family:tempus sans itc" class="list">
                                        <li> get/damages : Allows you to search for damage within a 10km radius, uploaded by the other bot from a certain location.</li>
                                    </ul>
                                    <a href="https://github.com/Andrea101288/ProgettoPDGT">
                                        <h4 style="font-family:tempus sans itc;color:black;text-align:left;">Project source code here: <img style="background-color:transparent" src="./static/assets/images/github.png" alt="" /></h4>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar navbar-default navbar-fixed-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <ul class="navbar-nav nav">
                                <li>
                                    <a style="background-color:transparent" href="./project.html" title="" class="project-nav left"><span class="project-number">01</span>Previous</a>
                                </li>
                            </ul>
                            <p style="font-family:tempus sans itc" class="h5 navbar-text">Piattasisma<i class="fa fa-chevron-down arrow-down" aria-hidden="true"></i></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function(event) {
                navbarToggleSidebar();
                closeMenuBeforeGoingToPage();
                navActivePage();
            });
        </script>
        <script type="text/javascript" src="./static/main.4c6e144e.js"></script>
    </font>
</body>

</html>

</html>